<h3>Makale ve Bilgilerinizi Giriniz</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Adınız</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="person.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Soyadınız</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="person.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Email Adresiniz</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="person.emailId" name="emailId">
    </div>

    
    <div class="form-group">
      <label for="name">Telefon Numaranız</label>
      <input type="text" class="form-control" id="phone" required [(ngModel)]="person.phone" name="phone">
    </div>

    <button type="submit" class="btn btn-primary">Yükle</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Makale Kaydedildi</h4>
  <!-- <button class="btn btn-success" (click)="newperson()">Add</button> -->
</div>


